#main-info{
  height: 100vh;
  width: 100vw;
  background-color: #495867;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title{
  background: -webkit-linear-gradient(#ce796b, #e7ab99);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 5rem;
  padding-top: 8rem;
}

button{
  background-color: #ecc8af ;
  width: 10rem;
  height: 3rem;
  color: #000;
  border-radius: 10px;
  border-color: transparent;
  transition-duration: 1000ms;
}

button:hover{
  transform: scale(1.1);
  background-color: #ce796b;
  transition-duration: 1000ms;
}